
// -------------- MOON ---------------

@font-face {
  font-family: "moon_bold";
  src: url("../fonts/Moon/Moon-Bold.otf");
}

@font-face {
  font-family: "moon_light";
  src: url("../fonts/Moon/Moon-Light.otf");
}

// ------------- Ralleway -----------

@font-face {
  font-family: "raleway";
  src: url("../fonts/Raleway/Raleway-Medium.ttf");
}
